body {
    background: rgba(0, 255, 242, 0.495) !important;

}

.snorkel {
    background: magenta;

}


a.nav-item.nav-link {
    display: inline-block;
    padding: 0.5em;
    text: center-text !important;
}

.carousel-caption {
    bottom: 225px;
}

.heading-font {
    color: black !important;
    text-shadow: darkolivegreen !important;
    font-weight: bold;
    height: auto;
    /* font-size:10vw !important; */
    font-size: 2.5em;
    text-shadow:0 0 20px rgba(0,255, 242, 0.5);
}

.container-2 {
    padding: 0.25em
}